.search-results {
  margin-top: 30px;
  width: 100%;
}

.pokemon-item {
  display: flex;
  border: 1px solid;
  border-radius: 3px;
  padding: 0 15px;
  gap: 30px;
  align-items: baseline;
  margin-top: 30px;
  transition: 0.3s;
  cursor: pointer;

  &.dark {
    color: white;
  }

  &.light {
    color: black;
  }
}

.pokemon-name {
  display: flex;
  flex-direction: column;
}

.pokemon-item:hover {
  border-color: rgb(225, 0, 255);
}
