button {
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  padding: 0.2rem 1.2rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  background-color: #7b87ba;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: silver;
  background-color: rgb(165, 175, 221);
}
